h1 {
    text-align: center;
    font-size: 1000%;
}

p {
    text-align: center;
    font-size: 200%;
}

.text {
    color: rgb(213, 225, 247);
    font-family:monospace;
}

#ChipboardLogo {
    width: 25%;
    height: auto;
}

#header {
    height: auto;
    width: 100%;
}

#body {
    background: linear-gradient(#3b2f46, #13171b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:max-content;
}