p {
    font-family: monospace;
    text-align: center;
    font-size: 200%;
}

h1 {
    font-family: monospace;
}

.blinkHeader {
    animation: header infinite 3s;
    text-align: center;
    font-size: 1000%;
}

.gradientText {
    background-image: linear-gradient(45deg, rgb(213, 225, 247), rgb(81, 99, 134));
    background-size: 100%;
    background-clip: text;
    color: transparent;
    font-size: 300%;
}

#body {
    background: url('background.jpg');
    background-repeat: repeat;
    background-size: 150% 150%;
    background-attachment: fixed;
    height: max-content;
    animation: backgroundKeys infinite 120s;
}

.skillSlot {
    animation: header infinite 3s;
    text-align: center;
    font-size: 1000%;
    background-image: linear-gradient(90deg, #00000000, #26113a, #00000000);
    margin: 0%;
    padding: 0%;
    background-size: 100% auto;
}

@keyframes backgroundKeys {

    /*============ CENTER ============*/
    0% {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto 150%;
    }

    /*============ RIGHT ============*/
    15% {
        background-position-x: 100%;
        background-position-y: 50%;
        background-size: auto 150%;
    }

    /*============ CENTER ============*/
    30% {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto 150%;
    }

    /*============ LEFT ============*/
    45% {
        background-position-x: 0%;
        background-position-y: 50%;
        background-size: auto 150%;
    }

    /*============ CENTER ============*/
    60% {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto 150%;
    }

    /*============ ZOOM ============*/
    80% {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto 100%;
    }

    /*============ CENTER ============*/
    100% {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto 150%;
    }
}

#centered {}

@keyframes body {
    0% {
        color: rgb(213, 225, 247);
    }

    50% {
        color: rgb(81, 99, 134);
    }

    100% {
        color: rgb(213, 225, 247);
    }
}

@keyframes header {
    0% {
        color: rgb(213, 225, 247);
    }

    50% {
        color: rgb(81, 99, 134);
    }

    100% {
        color: rgb(213, 225, 247);
    }
}