:root {
    --backgroundScale: 1.0;
}

p {
    font-family: monospace;
    text-align: center;
    font-size: 200%;
}

h1 {
    font-family: monospace;
}

.blinkHeader {
    animation: header infinite 3s;
    text-align: center;
    font-size: 1000%;
}

.gradientText {
    color: rgb(213, 225, 247);
    background-size: 100%;
    font-size: 300%;
}

#body {
    background: url('background.jpg');
    background-repeat: repeat;
    background-size: 150% 150%;
    background-attachment: fixed;
    background-color: #26113a;
    height: max-content;
    animation: backgroundKeys infinite calc(200s * var(--backgroundScale)), blurIn ease-in-out 4s, backdropScrollOut ease-in-out 10s;
}

.skillSlot {
    animation: header infinite 3s;
    text-align: center;
    font-size: 1000%;
    background-image: linear-gradient(90deg, #00000000, #26113a, #00000000);
    margin: 0%;
    padding: 0%;
    background-size: 100% auto;
}

/*============ MOBILE ============*/
@media screen and (max-width: 800px) {
    :root {
        --backgroundScale: 2.0;
    }

    .blinkHeader {
        animation: header infinite 3s;
        text-align: center;
        font-size: 400%;
    }

    .skillSlot {
        animation: header infinite 3s;
        text-align: center;
        font-size: 400%;
        background-image: linear-gradient(90deg, #00000000, #26113a, #00000000);
        margin: 0%;
        padding: 0%;
        background-size: 100% auto;
    }

    .gradientText {
        background-size: 100%;
        color: rgb(213, 225, 247);
        font-size: 300%;
    }
}

@keyframes backdropScrollOut {
    0% {
        background-size: auto calc(256% * var(--backgroundScale));
    }

    100% {
        background-size: auto calc(150% * var(--backgroundScale));
    }
}

@keyframes skillFadeIn {
    0% {
        background-image: linear-gradient(90deg, #00000000, #26113a00, #00000000);
        backdrop-filter: blur(0px);
    }

    100% {
        background-image: linear-gradient(90deg, #00000000, #26113a, #00000000);
        backdrop-filter: blur(1px);
    }
}

@keyframes blurIn {
    0% {
        filter: blur(10px);
    }

    100% {
        filter: blur(0px);
    }
}

@keyframes backgroundKeys {

    /*============ CENTER ============*/
    0% {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto calc(150% * var(--backgroundScale));
    }

    /*============ RIGHT ============*/
    15% {
        background-position-x: 100%;
        background-position-y: 50%;
        background-size: auto calc(150% * var(--backgroundScale));
    }

    /*============ CENTER ============*/
    30% {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto calc(150% * var(--backgroundScale));
    }

    /*============ LEFT ============*/
    45% {
        background-position-x: 0%;
        background-position-y: 50%;
        background-size: auto calc(150% * var(--backgroundScale));
    }

    /*============ CENTER ============*/
    60% {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto calc(150% * var(--backgroundScale));
    }

    /*============ ZOOM ============*/
    80% {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto calc(100% * var(--backgroundScale));
    }

    /*============ CENTER ============*/
    100% {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: auto calc(150% * var(--backgroundScale));
    }
}

@keyframes body {
    0% {
        color: rgb(213, 225, 247);
    }

    50% {
        color: rgb(81, 99, 134);
    }

    100% {
        color: rgb(213, 225, 247);
    }
}

@keyframes header {
    0% {
        color: rgb(213, 225, 247);
    }

    50% {
        color: rgb(81, 99, 134);
    }

    100% {
        color: rgb(213, 225, 247);
    }
}